/* HEADER CSS */
@import url(https://fonts.google.com/specimen/Manrope);
/* transform */
:root {
  /**
  @font family declaration
  */
  --tp-ff-body: "Manrope", sans-serif;
  --tp-ff-heading: "Manrope", sans-serif;
  --tp-ff-brand: "Manrope", sans-serif;
  /**
  @color declaration
  */
  --tp-common-white: #f0f0f0;
  --tp-common-white-2: #F4F4F5;
  --tp-common-white-3: rgba(240, 240, 240, 0.64);
  --tp-common-black: #000001;
  --tp-common-black-1: #10302a;
  --tp-common-black-2: #0d0d0d;
  --tp-common-black-3: #000;
  --tp-common-black-4: #405955;
  --tp-common-black-5: #111112;
  --tp-common-black-6: #333333;
  --tp-common-black-7: #121314;
  --tp-common-yellow: #fff112;
  --tp-common-yellow-2: #FFD500;
  --tp-common-green: #9FB086;
  --tp-common-green-2: #0F766E;
  --tp-common-green-3: #d5ffdd;
  --tp-common-blue: #5956e9;
  --tp-common-nights: #7D5DFF;
  --tp-common-meteor: #E62415;
  --tp-common-angry: #f14f44;
  --tp-common-sugar : #FFFBF5;
  --tp-common-cream : #b7ab98;
  --tp-common-pink : #eb5939;
  --tp-grey-1: #525252;
  --tp-grey-2: #999;
  --tp-grey-3: #f4f4f4;
  --tp-grey-4: #aaa;
  --tp-grey-5: #f3f1f2;
  --tp-grey-6: #AFB7B6;
  --tp-grey-7: #5c5c5c;
  --tp-grey-8: #101010;
  --tp-theme-primary: #9FB086;
  --tp-theme-secondary: #0F766E;
  --tp-theme-1: #134E4A;
  --tp-border-1: #eee;
  --tp-border-2: rgba(51, 51, 51, 0.8);
  --tp-border-3: rgba(255, 255, 255, 0.1);
}

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/
.tp-header-search-btn {
  width: 48px;
  height: 48px;
  display: inline-block;
  color: var(--tp-common-black);
  border: 1px solid var(--tp-border-1);
  text-align: center;
  line-height: 48px;
  border-radius: 100%;
  line-height: 9px;
}
.tp-header-search-btn:hover {
  background: var(--tp-common-black);
  color: var(--tp-common-white);
  border-color: var(--tp-common-black);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-header-lg-spacing {
    padding: 15px 0px;
  }
}
@media (max-width: 574.98px) {
  .tp-header-lg-spacing {
    padding: 8px 0px;
  }
}
.tp-header-sidebar-btn span {
  height: 2px;
  width: 25px;
  display: block;
  margin: 6px auto;
  background: var(--tp-common-black);
}
.tp-header-sidebar-btn:hover span {
  animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
}
.tp-header-sidebar-btn:hover span:nth-child(2) {
  animation-delay: 0.1s;
}
.tp-header-2-country {
  margin-left: 190px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-2-country {
    margin-left: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-2-country {
    display: none;
  }
}
.tp-header-2-menu-btn {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(104px);
  width: 48px;
  height: 48px;
  padding-right: 14px;
}
.tp-header-2-menu-btn span {
  background: var(--tp-theme-primary);
  width: 11px;
  margin: 4px 0 4px auto;
  border-radius: 10px;
  height: 2px;
}
.tp-header-2-menu-btn span:nth-child(2) {
  width: 20px;
}
.tp-header-2-spacing {
  padding: 18px 0px;
}
@media (max-width: 574.98px) {
  .tp-header-2-right .tp-btn-group {
    display: none;
  }
}
.tp-header-wd-wrap {
  border-bottom: 1px solid var(--tp-border-1);
}
@media (max-width: 574.98px) {
  .tp-header-sa-logo {
    margin-right: 0;
  }
}
.tp-header-sa-search-btn {
  border: 1px solid rgba(0, 0, 0, 0.1411764706);
}
.tp-header-pp-menu-btn {
  border: 1px solid #ebebeb;
  background: var(--tp-common-white);
}
.tp-header-pp-menu-btn span {
  background: var(--tp-common-black);
}
.tp-header-pp-email {
  border: 1px solid var(--tp-border-1);
  border-radius: 100px;
  display: inline-block;
  padding: 4px 18px;
  margin-left: 125px;
}
.tp-header-pp-email:hover {
  color: var(--tp-grey-1);
}
.tp-header-cst-wrap {
  border-bottom: 1px solid rgba(16, 48, 42, 0.1);
}
.tp-header-cst-menu-btn {
  background: var(--tp-grey-5);
}
.tp-header-cst-menu-btn span {
  background: var(--tp-common-black-1);
}
.tp-header-it-bg {
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgb(252, 255, 252);
  padding: 0px 40px 0px 40px;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-it-bg {
    margin-top: 0;
    padding: 10px 33px 10px 33px;
  }
}
@media (max-width: 574.98px) {
  .tp-header-it-bg {
    padding: 0;
    border: none;
  }
  .tp-header-it-bg .tp-menu-bar {
    padding-right: 0;
    width: auto;
  }
}
.tp-header-it-btn {
  padding: 12px 26px;
  box-shadow: inset 0 4px 16px 1px #0c211b;
}
.tp-header-it-btn:hover {
  background: var(--tp-common-green-2);
  box-shadow: inset 0 4px 16px 1px var(--tp-common-green-2);
}
.tp-header-it-menu-btn {
  background: none;
  padding: 0;
  width: auto;
  border: none;
}
.tp-header-it-menu-btn span {
  background: var(--tp-common-black-1);
  margin: 4px auto 4px 0;
  border-radius: 30px;
}
.tp-header-it-menu-btn span:first-child {
  width: 15px;
}
.tp-header-pb-contact ul {
  display: flex;
  align-items: center;
}
.tp-header-pb-contact ul li {
  font-family: var(--tp-ff-inter);
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: var(--tp-common-black-1);
  list-style: none;
  opacity: 0.8;
}
.tp-header-pb-contact ul li:first-child {
  margin-right: 40px;
  padding-right: 40px;
  position: relative;
}
.tp-header-pb-contact ul li:first-child::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: var(--tp-common-black-1);
  opacity: 0.1;
  width: 1px;
  height: 27px;
}
.tp-header-pb-social ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}
.tp-header-pb-social ul li {
  list-style: none;
}
.tp-header-pb-social ul li a {
  font-size: 20px;
}
.tp-header-pb-social ul li a:hover {
  color: var(--tp-theme-secondary);
}
.tp-header-pb-social ul li a svg {
  transform: translateY(-2px);
}
.tp-header-pb-top {
  padding: 15px 0px;
}
.tp-header-pb-logobg {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 100%;
  background: var(--tp-theme-secondary);
  clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
  z-index: -1;
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-pb-logobg {
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
    width: 220px;
  }
}
.tp-header-pb-bottom {
  border-top: 1px solid #E7E7E1;
  border-bottom: 1px solid #E7E7E1;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-pb-bottom {
    border-top: none;
  }
}
.tp-header-pb-helpline {
  position: relative;
}
.tp-header-pb-helpline::before {
  position: absolute;
  content: "";
  height: 76px;
  width: 1px;
  background: #E7E7E1;
  top: -18px;
  left: 0;
}
.tp-header-pb-helpline-icon {
  border-radius: 100%;
  background: var(--tp-theme-secondary);
  box-shadow: -2px -4px 6px -5px rgba(255, 109, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tp-header-pb-helpline-icon::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background: var(--tp-theme-secondary);
  z-index: -1;
  opacity: 0.2;
  border-radius: 50%;
}
.tp-header-pb-cart-count {
  width: 22px;
  height: 22px;
  background: var(--tp-theme-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -12px;
}
.tp-header-pb-sidebar {
  width: 76px;
  height: 76px;
  background: var(--tp-theme-secondary);
  margin-right: -12px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-pb-sidebar {
    margin-left: 20px;
  }
}
.tp-header-pb-sidebar span {
  background: var(--tp-grey-5);
  border-radius: 10px;
  height: 2px;
  width: 30px;
  margin: 5px auto 5px 24px;
}
.tp-header-pb-sidebar span:first-child {
  width: 22px;
}
.tp-header-pb-sidebar span:nth-child(3) {
  width: 16px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-pb-logo {
    padding-left: 0;
  }
}
.tp-header-ai-bg {
  margin-top: 21px;
  border-radius: 20px;
  box-shadow: 0 4px 59px 2px rgba(0, 0, 0, 0.05);
  background: var(--tp-common-white);
  padding: 0px 32px 0px 32px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-ai-bg {
    padding: 10px 20px 10px 20px;
  }
}
.tp-header-ai-menu-btn {
  background: var(--tp-grey-5);
}
.tp-header-ai-menu-btn span {
  background: var(--tp-common-black-6);
}
.tp-header-md-social ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tp-header-md-social ul li {
  list-style: none;
}
.tp-header-md-social ul li a {
  font-size: 18px;
  color: var(--tp-common-white);
}
.tp-header-md-social ul li a:hover {
  color: var(--tp-theme-1);
}
.tp-header-md-social ul li a svg {
  transform: translateY(-3px);
}
.tp-header-md-contact ul {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.tp-header-md-contact ul li {
  list-style: none;
  font-family: var(--tp-ff-dm);
  font-weight: 500;
  font-size: 14px;
  color: var(--tp-grey-5);
  display: flex;
  align-items: center;
}
.tp-header-md-contact ul li a {
  margin-left: 3px;
}
.tp-header-md-contact ul li a:hover {
  color: var(--tp-theme-1);
}
.tp-header-md-contact ul li svg {
  margin-right: 8px;
}
.tp-header-md-top {
  padding: 7px 0px;
}
.tp-header-md-search-btn {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(17, 17, 18, 0.1);
  color: var(--tp-common-black-5);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-header-md-main {
    padding: 15px 0px;
  }
}
.tp-header-vp-spacing {
  padding: 14px 0px;
}
.tp-header-slider-wrapper {
  padding: 18px 0;
}
.tp-header-slider-bar {
  transition: 0.3s;
  padding: 8px 17px;
  border-radius: 24px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--tp-common-white);
  text-transform: uppercase;
}
.tp-header-slider-bar:hover {
  color: var(--tp-common-black);
  background: var(--tp-common-white);
  border-color: var(--tp-common-white);
}
.tp-header-slider-bar span svg {
  margin-right: 7px;
}
.tp-header-slider-info a {
  font-size: 15px;
  font-weight: 600;
  color: var(--tp-common-white);
  font-family: var(--tp-ff-inter);
}
.tp-header-slider-right.right-white .tp-header-slider-info a {
  color: var(--tp-common-black);
}
.tp-header-slider-right.right-white .tp-header-slider-bar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--tp-common-black);
}
.tp-header-slider-right.right-white .tp-header-slider-bar:hover {
  background: var(--tp-common-black);
  color: var(--tp-common-white);
}

.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
}

/*# sourceMappingURL=index.css.map */
