@import url(https://fonts.google.com/specimen/Manrope);
/* transform */
:root {
  /**
  @font family declaration
  */
  --tp-ff-body: "Manrope", sans-serif;
  --tp-ff-heading: "Manrope", sans-serif;
  --tp-ff-brand: "Manrope", sans-serif;
  /**
  @color declaration
  */
  --tp-common-white: #f0f0f0;
  --tp-common-white-2: #F4F4F5;
  --tp-common-white-3: rgba(240, 240, 240, 0.64);
  --tp-common-black: #000001;
  --tp-common-black-1: #10302a;
  --tp-common-black-2: #0d0d0d;
  --tp-common-black-3: #000;
  --tp-common-black-4: #405955;
  --tp-common-black-5: #111112;
  --tp-common-black-6: #333333;
  --tp-common-black-7: #121314;
  --tp-common-yellow: #fff112;
  --tp-common-yellow-2: #FFD500;
  --tp-common-green: #9FB086;
  --tp-common-green-2: #0F766E;
  --tp-common-green-3: #d5ffdd;
  --tp-common-blue: #5956e9;
  --tp-common-nights: #7D5DFF;
  --tp-common-meteor: #E62415;
  --tp-common-angry: #f14f44;
  --tp-common-sugar : #FFFBF5;
  --tp-common-cream : #b7ab98;
  --tp-common-pink : #eb5939;
  --tp-grey-1: #525252;
  --tp-grey-2: #999;
  --tp-grey-3: #f4f4f4;
  --tp-grey-4: #aaa;
  --tp-grey-5: #f3f1f2;
  --tp-grey-6: #AFB7B6;
  --tp-grey-7: #5c5c5c;
  --tp-grey-8: #101010;
  --tp-theme-primary: #9FB086;
  --tp-theme-secondary: #0F766E;
  --tp-theme-1: #134E4A;
  --tp-border-1: #eee;
  --tp-border-2: rgba(51, 51, 51, 0.8);
  --tp-border-3: rgba(255, 255, 255, 0.1);
}

/*----------------------------------------*/
/*  6.1 Footer Style
/*----------------------------------------*/
/*----------------------------------------*/
/*  5.4 footer css
/*----------------------------------------*/
.tp-footer-top-title {
  font-size: 145px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-footer-top-title {
    font-size: 120px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-footer-top-title {
    font-size: 80px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-top-title {
    font-size: 60px;
  }
}
.tp-footer-social ul {
  display: flex;
  flex-wrap: wrap;
}
.tp-footer-social ul li {
  margin-right: 20px;
  margin-bottom: 10px;
  list-style: none;
}
.tp-footer-social ul li a {
  font-family: var(--tp-ff-heading);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--tp-grey-2);
  background: rgba(26, 26, 26, 0.831372549);
  display: inline-block;
  padding: 5px 20px;
  border-radius: 100px;
}
.tp-footer-social ul li a:hover {
  color: var(--tp-theme-primary);
}
.tp-footer-social ul li a i {
  margin-right: 5px;
}
.tp-footer-btn a {
  background: rgba(26, 26, 26, 0.831372549);
  border-color: #0d0d0d;
  color: var(--tp-common-white);
}
.tp-footer-btn a:hover {
  color: var(--tp-common-black);
}
.tp-footer-btn .tp-btn-circle-dot {
  background: var(--tp-theme-primary);
}
.tp-footer-main {
  border-top: 1px solid rgba(153, 153, 153, 0.1);
}
.tp-footer-widget-form .tp-input {
  background: rgba(26, 26, 26, 0.831372549);
  border-radius: 10px;
  width: 100%;
  height: 70px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  color: var(--tp-common-white);
  padding: 5px 30px;
  padding-right: 80px;
}
.tp-footer-widget-form .tp-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: var(--tp-grey-2);
}
.tp-footer-widget-form .tp-button {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-widget p br {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-widget a br {
    display: none;
  }
}
.tp-footer-copyright p span {
  transform: translateY(-2px);
  display: inline-block;
}
.tp-footer-bottom {
  border-top: 1px solid rgba(153, 153, 153, 0.1);
  padding: 22px 0px 20px 0px;
}
.tp-footer-bottom-white {
  border-top: 1px solid var(--tp-border-1);
}
.tp-footer-bottom-white .tp-footer-menu ul li a {
  color: var(--tp-grey-1);
}
.tp-footer-bottom-white .tp-footer-menu ul li a:hover {
  color: var(--tp-common-black);
}
.tp-footer-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.tp-footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-menu ul {
    justify-content: flex-start;
    margin-top: 10px;
  }
}
.tp-footer-menu ul li {
  margin-left: 50px;
  margin-bottom: 5px;
  list-style: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-menu ul li {
    margin-left: 0;
    margin-right: 30px;
  }
}
.tp-footer-menu ul li a {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--tp-common-white);
}
.tp-footer-menu ul li a:hover {
  color: var(--tp-theme-primary);
}
.tp-footer-2-btn a {
  font-size: 15px;
  font-family: var(--tp-ff-p);
  width: 200px;
  height: 200px;
  padding-top: 60px;
}
.tp-footer-2-social ul li a:hover {
  color: var(--tp-common-yellow);
}
.tp-footer-wd-desk {
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 10px;
  padding: 14px 20px;
  display: inline-block;
  display: flex;
  align-items: center;
}
.tp-footer-wd-desk span {
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  background: var(--tp-common-blue);
  border-radius: 50px;
  text-align: center;
  line-height: 37px;
  display: inline-block;
  margin-right: 10px;
  flex: 0 0 auto;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-wd-widget {
    margin-left: 0;
  }
}
.tp-footer-wd-widget ul li {
  list-style: none;
  margin-bottom: 15px;
}
.tp-footer-wd-widget ul li span {
  font-weight: 500;
  font-size: 14px;
  color: var(--tp-common-black);
  background: var(--tp-theme-primary);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 100px;
  line-height: 1;
  margin-left: 5px;
}
.tp-footer-wd-widget ul li a {
  font-weight: 400;
  font-size: 18px;
  color: var(--tp-grey-1);
  display: inline-block;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-wd-widget ul li a:hover {
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 100% 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-wd-widget-form .tp-input {
  background: transparent;
  border: 1px solid rgba(153, 153, 153, 0.6);
  color: var(--tp-common-black);
  font-weight: 400;
}
.tp-footer-wd-widget-form .tp-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--tp-grey-2);
}
.tp-footer-wd-social a {
  width: 36px;
  height: 36px;
  display: inline-block;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 100px;
  text-align: center;
  line-height: 36px;
  color: var(--tp-grey-1);
  margin-right: 9px;
  flex: 0 0 auto;
}
.tp-footer-wd-social a:hover {
  color: var(--tp-common-black);
  background: var(--tp-theme-primary);
  border-color: var(--tp-theme-primary);
}
.tp-footer-wd-bottom {
  border-color: var(--tp-border-1);
}
.tp-footer-sa-widget ul li span {
  background: var(--tp-common-nights);
  color: var(--tp-common-white);
}
.tp-footer-sa-widget ul li a {
  color: var(--tp-grey-2);
}
.tp-footer-sa-widget ul li a:hover {
  color: var(--tp-common-white);
}
.tp-footer-sa-widget .tp-input {
  background: #0d0d0d;
  border: transparent;
  color: var(--tp-common-white);
}
.tp-footer-sa-widget .tp-footer-wd-social a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #525252;
}
.tp-footer-sa-widget .tp-footer-wd-social a:hover {
  background: var(--tp-common-nights);
  color: var(--tp-common-white);
}
.tp-footer-sa-widget .tp-footer-wd-desk {
  background: #0d0d0d;
  border-color: #0d0d0d;
}
.tp-footer-sa-widget .tp-footer-wd-desk:hover {
  color: var(--tp-grey-2);
}
.tp-footer-sa-bottom {
  border-color: rgba(153, 153, 153, 0.1);
}
.tp-footer-pp-social ul {
  justify-content: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pp-widget {
    margin-left: 0;
  }
}
.tp-footer-pp-widget ul li {
  list-style: none;
}
.tp-footer-pp-widget ul li a {
  font-weight: 500;
  font-size: 18px;
  color: var(--tp-grey-2);
  padding: 6px 0px;
  display: inline-block;
}
.tp-footer-pp-widget ul li a:hover {
  color: var(--tp-common-white);
}
.tp-footer-pp-link a {
  font-weight: 500;
  font-size: 25px;
  color: var(--tp-grey-2);
  background: rgba(26, 26, 26, 0.831372549);
  border-radius: 100px;
  display: inline-block;
  padding: 15px 41px;
  display: inline-block;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pp-link a {
    padding: 10px 20px;
  }
}
.tp-footer-pp-link a:hover {
  color: var(--tp-common-white);
}
.tp-footer-pp-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pp-shape {
    width: 10%;
    height: 10%;
  }
}
.tp-footer-pp-shape-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pp-shape-2 {
    width: 10%;
    height: 10%;
  }
}
.tp-footer-cst-dec {
  color: #C6CACA;
}
.tp-footer-cst-widget ul li a {
  font-family: var(--tp-ff-dm);
  color: #C6CACA;
}
.tp-footer-cst-widget ul li span {
  font-family: var(--tp-ff-dm);
  font-size: 12px;
  color: var(--tp-common-black-1);
}
.tp-footer-cst-widget .tp-footer-wd-desk span {
  background: var(--tp-common-green-2);
}
.tp-footer-cst-widget .tp-footer-wd-desk {
  border: 1px solid #27433E;
  padding: 9px 20px;
  padding-right: 38px;
  display: inline-block;
}
.tp-footer-cst-widget-form {
  margin-left: -30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-cst-widget-form {
    margin-left: 0;
  }
}
.tp-footer-cst-widget-form .tp-input {
  height: 60px;
  border: 1px solid #27433E;
  font-family: var(--tp-ff-dm);
  color: var(--tp-grey-5);
}
.tp-footer-cst-widget-form .tp-input::placeholder {
  color: #C6CACA;
  font-family: var(--tp-ff-dm);
}
.tp-footer-cst-widget-form .tp-footer-wd-social a {
  width: 40px;
  height: 40px;
  border: 1px solid #27433E;
  line-height: 40px;
  color: var(--tp-grey-5);
}
.tp-footer-cst-widget-form .tp-footer-wd-social a:hover {
  color: var(--tp-common-black-1);
  background: var(--tp-common-green-2);
  border-color: var(--tp-common-green-2);
}
.tp-footer-cst-menu-wrap {
  border-top: 1px solid #27433E;
  border-bottom: 1px solid #27433E;
  padding: 36px 0px;
}
.tp-footer-cst-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 574.98px) {
  .tp-footer-cst-menu ul {
    justify-content: flex-start;
  }
}
.tp-footer-cst-menu ul li {
  list-style: none;
  margin: 0 25px;
  padding: 5px 0px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-footer-cst-menu ul li {
    margin: 0 17px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-cst-menu ul li {
    margin-left: 0;
  }
}
.tp-footer-cst-menu ul li a {
  font-family: var(--tp-ff-dm);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--tp-grey-5);
  display: inline-block;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-cst-menu ul li a:hover {
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 100% 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-cst-bottom {
  padding-top: 26px;
  padding-bottom: 14px;
}
.tp-footer-cst-btp {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tp-common-green-2);
  border-radius: 50%;
}
.tp-footer-cst-btp:hover {
  transform: scale(1.1);
}
.tp-footer-cst-banner {
  padding: 110px 0 90px 0;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-cst-banner {
    padding: 60px 0 50px 0;
  }
}
.tp-footer-cst-banner-shape {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  z-index: -1;
}
.tp-footer-it-dec {
  opacity: 0.8;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-footer-it-widget {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-it-widget {
    margin-left: 0;
  }
}
.tp-footer-it-widget ul li a {
  font-family: var(--tp-ff-inter);
  color: var(--tp-grey-5);
  opacity: 0.8;
}
.tp-footer-it-widget ul li a:hover {
  opacity: 1;
}
.tp-footer-it-widget ul li span {
  font-family: var(--tp-ff-inter);
}
.tp-footer-it-widget-form {
  width: 344px;
  margin-left: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-it-widget-form {
    width: 100%;
  }
}
.tp-footer-it-widget-form .tp-input {
  border: 1px solid rgba(243, 241, 242, 0.1);
  background: transparent;
  font-family: var(--tp-ff-inter);
}
.tp-footer-it-widget-form .tp-input::placeholder {
  font-family: var(--tp-ff-inter);
  opacity: 0.8;
  color: var(--tp-grey-5);
}
.tp-footer-it-copyright {
  color: rgba(243, 241, 242, 0.8);
}
.tp-footer-it-copyright a {
  color: rgb(243, 241, 242);
}
.tp-footer-it-bottom {
  border-top: 1px solid rgba(243, 241, 242, 0.1);
}
.tp-footer-it-bigtext {
  font-size: 600px;
  line-height: 0.68;
  color: #999;
  margin-bottom: -10px;
  margin-top: 25px;
  letter-spacing: 0;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-it-bigtext {
    font-size: 500px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-footer-it-bigtext {
    font-size: 400px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-footer-it-bigtext {
    font-size: 375px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-footer-it-bigtext {
    font-size: 275px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-footer-it-bigtext {
    font-size: 200px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-it-bigtext {
    font-size: 100px;
  }
}
.tp-footer-pb-widget .tp-footer-wd-social a {
  color: var(--tp-common-white);
  margin-right: 7px;
  border-color: rgba(243, 241, 242, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.tp-footer-pb-widget .tp-footer-wd-social a:hover {
  background: var(--tp-theme-secondary);
  border-color: var(--tp-theme-secondary);
}
@media only screen and (min-width: 1600px) and (max-width: 1700px), only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-pb-widget.ml-180 {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-footer-pb-widget.ml-180 {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pb-widget.ml-180 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-pb-widget.ml-85 {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pb-widget.ml-85 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pb-widget.ml-20 {
    margin-left: 0;
  }
}
.tp-footer-pb-bottom {
  border-top: 1px solid rgba(153, 153, 153, 0.1);
  padding: 18px 0px 3px 0px;
}
.tp-footer-pb-shape-wrapper {
  position: absolute;
  z-index: -2;
  height: 100%;
  left: 0;
  top: 0;
}
.tp-footer-pb-shape-wrapper .tp-techonolgy-capsule-item {
  width: auto;
  height: auto;
  background: transparent;
  border-radius: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-pb-shape-wrapper .tp-techonolgy-capsule-item {
    width: 150px;
    height: 150px;
  }
}
.tp-footer-pb-capsule-wrapper {
  z-index: 1;
  height: auto !important;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-widget a br {
    display: none;
  }
}
.tp-footer-ai-widget.widget-2 {
  margin-left: -30px;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-widget.widget-2 {
    margin-left: 0;
  }
}
.tp-footer-ai-menu ul {
  column-count: 2;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-menu ul {
    column-count: 1;
  }
}
.tp-footer-ai-menu ul li {
  list-style: none;
}
.tp-footer-ai-menu ul li a {
  font-family: var(--tp-ff-dm);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--tp-common-black-5);
  border-radius: 50px;
  padding: 7px 32px;
  display: inline-block;
}
.tp-footer-ai-menu ul li a:hover {
  background: var(--tp-common-black-5);
  color: var(--tp-common-white);
}
.tp-footer-ai-social {
  gap: 8px;
}
.tp-footer-ai-social a {
  color: var(--tp-common-black-5);
  border-color: rgba(17, 17, 18, 0.1);
  margin: 0;
}
.tp-footer-ai-social a:hover {
  background: var(--tp-common-angry);
  border-color: var(--tp-common-angry);
}
.tp-footer-ai-bigtitle {
  font-size: 422px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-ai-bigtitle {
    font-size: 370px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-bigtitle {
    font-size: 330px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-bigtitle {
    font-size: 267px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-footer-ai-bigtitle {
    font-size: 200px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-bigtitle {
    font-size: 150px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-ai-bigtitle {
    font-size: 92px;
  }
}
.tp-footer-ai-copyright-border {
  border-top: 1px solid rgba(17, 17, 18, 0.1);
  padding: 18px 0px 0 0px;
}
.tp-footer-ai-copyright p span {
  transform: translateY(-1px);
  display: inline-block;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-ai-title-wrap {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
.tp-footer-md-rounded {
  border-radius: 35px 35px 0px 0px;
}
.tp-footer-md-apoinment {
  border-bottom: 1px solid rgba(243, 241, 242, 0.1);
}
.tp-footer-md-apoinment-btn svg {
  transform: translateY(-2px);
}
.tp-footer-md-apoinment-btn:hover {
  background: var(--tp-common-white);
}
.tp-footer-md-apoinment-form {
  backdrop-filter: blur(5px);
  box-shadow: 5px 6px 99px 5px rgba(16, 48, 42, 0.3);
  border-radius: 24px;
  background: radial-gradient(229.59% 96.04% at 36% 3.96%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  padding: 60px 60px 60px 60px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), (max-width: 574.98px) {
  .tp-footer-md-apoinment-form {
    padding: 30px 30px 30px 30px;
  }
}
.tp-footer-md-apoinment-form .tp-remember-input input[type=checkbox], .tp-footer-md-apoinment-form .tp-remember-input input[type=radio] {
  display: none;
}
.tp-footer-md-apoinment-form .tp-remember-input input[type=checkbox]:checked ~ label::after, .tp-footer-md-apoinment-form .tp-remember-input input[type=radio]:checked ~ label::after {
  background-color: transparent;
  border-color: var(--tp-theme-1);
}
.tp-footer-md-apoinment-form .tp-remember-input input[type=checkbox]:checked ~ label::before, .tp-footer-md-apoinment-form .tp-remember-input input[type=radio]:checked ~ label::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.tp-footer-md-apoinment-form .tp-remember {
  font-family: var(--tp-ff-dm);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--tp-grey-5);
  position: relative;
  padding-left: 30px;
}
.tp-footer-md-apoinment-form .tp-remember::after, .tp-footer-md-apoinment-form .tp-remember::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(243, 241, 242, 0.1);
  border-radius: 50px;
  -webkit-transition: 0.2s 0.3s 0s ease-out;
  -moz-transition: 0.2s 0.3s 0s ease-out;
  -ms-transition: 0.2s 0.3s 0s ease-out;
  -o-transition: 0.2s 0.3s 0s ease-out;
  transition: 0.2s 0.3s 0s ease-out;
}
.tp-footer-md-apoinment-form .tp-remember::before {
  width: 10px;
  height: 10px;
  background-color: var(--tp-theme-1);
  left: 3px;
  top: 8px;
  right: 3px;
  bottom: 3px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.tp-footer-md-apoinment-form .tp-remember:hover {
  cursor: pointer;
}
.tp-footer-md-apoinment-form .tp-input {
  background: transparent;
  border: 1px solid rgba(243, 241, 242, 0.1);
  border-radius: 8px;
  height: 54px;
  font-family: var(--tp-ff-dm);
  font-size: 18px;
  letter-spacing: -0.02em;
  padding: 20px;
  color: var(--tp-grey-5);
}
.tp-footer-md-apoinment-form .tp-input:focus {
  border-color: var(--tp-theme-1);
}
.tp-footer-md-apoinment-form .tp-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(243, 241, 242, 0.6);
}
.tp-footer-md-apoinment-form .tp-input::-moz-placeholder { /* Firefox 19+ */
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(243, 241, 242, 0.6);
}
.tp-footer-md-apoinment-form .tp-input:-moz-placeholder { /* Firefox 4-18 */
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(243, 241, 242, 0.6);
}
.tp-footer-md-apoinment-form .tp-input:-ms-input-placeholder { /* IE 10+  Edge*/
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(243, 241, 242, 0.6);
}
.tp-footer-md-apoinment-form .tp-input::placeholder { /* MODERN BROWSER */
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(243, 241, 242, 0.6);
}
.tp-footer-md-apoinment-form .tp-textarea {
  height: 162px;
  resize: none;
}
.tp-footer-md-apoinment-title {
  color: rgba(243, 241, 242, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-md-apoinment-content .tp-section-md-title {
    margin-bottom: 40px;
  }
}
.tp-footer-md-widget {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-md-widget {
    margin-left: 0;
  }
}
.tp-footer-md-widget p {
  color: rgba(243, 241, 242, 0.8);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-md-widget p br {
    display: none;
  }
}
.tp-footer-md-widget ul li {
  list-style: none;
  font-family: var(--tp-ff-dm);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: var(--tp-grey-5);
  opacity: 0.8;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-footer-md-widget ul li {
    font-size: 17px;
  }
}
.tp-footer-md-widget ul li:not(:last-child) {
  margin-bottom: 18px;
}
.tp-footer-md-widget ul li a:hover {
  color: var(--tp-common-white);
}
.tp-footer-md-social a {
  color: var(--tp-common-white);
  border-color: rgba(243, 241, 242, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.tp-footer-md-social a:hover {
  background: var(--tp-common-white);
  color: var(--tp-common-black);
  border-color: var(--tp-common-white);
}
.tp-footer-md-bigtitle {
  font-size: 730px;
  line-height: 0.8;
}
@media only screen and (min-width: 1700px) and (max-width: 1800px) {
  .tp-footer-md-bigtitle {
    font-size: 710px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  .tp-footer-md-bigtitle {
    font-size: 660px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-md-bigtitle {
    font-size: 580px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-footer-md-bigtitle {
    font-size: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-footer-md-bigtitle {
    font-size: 410px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-footer-md-bigtitle {
    font-size: 315px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-footer-md-bigtitle {
    font-size: 225px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-md-bigtitle {
    font-size: 140px;
  }
}
.tp-footer-md-title-wrap {
  margin-bottom: -160px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-md-title-wrap {
    margin-bottom: -100px;
  }
}
.tp-footer-md-bottom {
  border-top: 1px solid rgba(243, 241, 242, 0.1);
}
.tp-footer-md-bottom .tp-footer-it-copyright svg {
  margin-bottom: -2px;
}
.tp-footer-md-copyright-menu a:not(:last-child) {
  margin-right: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-md-copyright-menu a:not(:last-child) {
    margin-right: 10px;
  }
}
.tp-footer-md-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 13%;
}
.tp-footer-md-shape-2 {
  position: absolute;
  top: 20px;
  right: 135px;
  width: 6%;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-vp-widget {
    margin-left: 0;
  }
}
.tp-footer-vp-widget span {
  color: rgba(251, 252, 238, 0.6);
}
.tp-footer-vp-widget ul li {
  list-style: none;
}
.tp-footer-vp-widget ul li:not(:last-child) {
  margin-bottom: 15px;
}
.tp-footer-vp-widget ul li a {
  font-family: var(--tp-ff-inter);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfcee;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-vp-widget ul li a:hover {
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 0 1px, 100% 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
.tp-footer-vp-widget ul li a svg {
  margin-left: 3px;
}
.tp-footer-vp-bigtext {
  font-weight: 600;
  font-size: 320px;
  line-height: 73%;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-footer-vp-bigtext {
    font-size: 280px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-footer-vp-bigtext {
    font-size: 250px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-footer-vp-bigtext {
    font-size: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-footer-vp-bigtext {
    font-size: 160px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-footer-vp-bigtext {
    font-size: 120px;
  }
}
@media (max-width: 574.98px) {
  .tp-footer-vp-bigtext {
    font-size: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 574.98px) {
  .tp-footer-vp-bigtext-wrap {
    margin-top: 60px;
  }
}

.text-scale-anim {
  white-space: pre-wrap;
  transform-origin: top left;
}

.tp-letter-span {
  display: inline-block;
}

.tp-word-span {
  display: inline-block;
}

/*# sourceMappingURL=index.css.map */
